<button class ="fun" data-toggle="collapse" data-target="#emoji">
  Click For Fun
</button>

<div id="emoji" class="collapse">


<div class ="container-fluid-padding">
  <div class="row text-center">
    <div class="coll-sm-5 col-md-3">
      <img src="#">
    </div>
    <div class="coll-sm-5 col-md-3">
      <img src="#">
    </div>
    <div class="coll-sm-6 col-md-3">
      <img src="#">
    </div>
    <div class="coll-sm-6 col-md-3">
      <img src="#">
    </div>
    <div class="coll-sm-6 col-md-3">
      <img src="#">
    </div>
    <div class="coll-sm-6 col-md-3">
      <img src="#">
    </div>
     </div>
</div>
</div>