

<div class="container-fluid padding">

<div class="row welcame text-center">

<div class="col-12">

<h1 class="display-4">
  Our projects
</h1>

</div>

</div>

</div>
<div class="container-fluid padding">

<div class="row padding">



<ng-container *ngFor="let project of currentprojects">
  
<div class="  col-xs-12 col-sm-6 col-md-4  ">
  <div class="card">
  <img class="card-img-top" src="https://source.unsplash.com/collection/190727/20" height ="200" width="200" >
    <div class="card-body">
      <h4 class="card-title" >{{project.name}}</h4>
      <p class="card-text">C</p>

      <a href="#" class="btn btn-outline-secondary"> See Profile</a>
    </div>
  </div>
  </div>
</ng-container>
</div>
</div>
