
<!-- Navigation -->
<app-top-tab> </app-top-tab>
<!--- Image Slider -->
<app-slider></app-slider>
<!--- Jumbotron -->
<app-jumbo></app-jumbo>
<!--- Welcome Section -->
<app-welcome></app-welcome>
<!--- Three Column Section -->
<app-team></app-team>

<!--- Two Column Section -->

<app-column> </app-column>
<!--- Fixed background -->



<hr class ="my-4">

<app-fixed></app-fixed>

<!--- Emoji Section 

<app-emoji></app-emoji> -->
  
<!--- Meet the team -->

<app-meet-the-team></app-meet-the-team>



<!--- Two Column Section -->


<!--- Connect -->


<!--- Footer -->

