<div class="container-fluid padding">
  <div class="row text-center padding">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class ="fas fa-code"></i>  
      <h3> BOOT</h3>
      <p>Lorem ipsium</p>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <i class ="fas fa-bold"></i>  
      <h3> BOOTSTRAP</h3>
      <p>Lorem ipsium</p>
    </div>
    <div class="col-sm-12 col-md-4">
      <i class ="fab fa-css3"></i>  
      <h3> HTML5</h3>
      <p>Built with the latest version of HTML, HTML5.</p>
    </div>
  </div>
  <hr class="my-4">
</div>
